# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Critical repository files/folders
.git*                                   @eclmist
ProjectSettings                         @eclmist
CODEOWNERS                              @eclmist

# Project Import Setting
Assets/Presets/                         @eclmist
Assets/Settings/                        @eclmist

# ============================================================= 
# Code & Feature Owners
# ============================================================= 

# AI
AI/                                     @heze8

# Graphics
Graphics/                               @eclmist
Reveal/                                 @eclmist
Rendering/                              @eclmist

# Networking
Bearded\ Man\ Studios\ Inc              @tcgj
Network/                                @tcgj

# Gameplay
Bombs/                                  @fatclarence
Gameplay/                               @tcgj
Interactions/                           @seanlowjk
PowerUps/                               @seanlowjk
PlayerController/                       @eclmist @tcgj

# Inputs
AetherInput.cs                          @eclmist

# Unclassified
AudioManager.cs                         @eclmist
CharacterCustomizer.cs                  @eclmist
CharacterCustomizerUI.cs                @eclmist
NavigationGroup.cs                      @eclmist
Singleton.cs                            @eclmist
CinemachineTargetting.cs                @tcgj

# ============================================================= 
# Data Owners
# ============================================================= 

# Scenes
Assets/Scenes/Game\ Flow/               @eclmist
Assets/Scenes/Gyms/AI/                  @heze8
Assets/Scenes/Gyms/LevelDesign/         @robytanama
Assets/Scenes/Gyms/Networking/          @tcgj
Assets/Scenes/Gyms/Graphics/            @eclmist
Assets/Scenes/Gyms/UI/                  @seanlowjk
Assets/Scenes/Gyms/VFX/                 @fatclarence

# Important Prefabs
Assets/Prefabs/Player/                  @eclmist